

@media (min-width: 992px){
			div{
				width: 26.4%;				
				margin-left: 3.8%;
				margin-bottom: 20px;
			}
			div#div01{
				margin-left: 24px;
			}
}

@media (min-width: 768px) and (max-width: 991px){
			div{
				width: 42.3%;
				margin-left: 22px;
				
				margin-bottom: 25px;
			}
			div#div03{
				width: 91%;
			}
}

@media (max-width: 767px){
			div{
				margin: 10px 10%;
			}
}


body{
	font-family: Helvetica, sans-serif;
	font-size: large;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 25px;
}

header{
	
	font-weight: bold;	
	text-align: center;
	padding-top: 25px;
	padding-bottom: 3%;
}

section{
	height: 100%;
	padding-left: 4%;
	padding-right: 3.5%;
	margin-left: auto;
	margin-right: auto;
}

div header{
	position: absolute;
	top: -1px;
	right: -1px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	width: 75px;
	padding: 2px 25px;
	border: 1px solid black;	
}

div{
	position: relative;
	float: left;
	font-size: .6em;
	padding: 15px;
	padding-top: 35px;
	border: 1px solid black;
	background-color: grey;	
}


div#div01 header{
	background-color: pink;
}
div#div02 header{
	background-color: skyblue;
}
div#div03 header{
	background-color: lightgreen;
}